name: Kontrol

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  BirlesikGuncelleme:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Depoyu Klonla
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # ⚠️ REBASE için şart

      - name: Python 3.11.8 Yükle
        uses: actions/setup-python@v5
        with:
          python-version: 3.11.8

      - name: Gereksinimleri Kur
        run: |
          python -m pip install --upgrade pip
          pip install -U setuptools wheel Kekik httpx parsel requests cloudscraper beautifulsoup4

      - name: inn.py Çalıştır
        continue-on-error: true
        run: python inn.py

      - name: an.py Çalıştır
        continue-on-error: true
        run: python an.py
