name: Neon Auto M3U

on:
  schedule:
    - cron: "*/30 * * * *"   # 30 dakikada bir
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Repo checkout
        uses: actions/checkout@v4

      - name: Python setup
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Run script
        run: |
          pip install requests
          python neon.py

      - name: Commit & push
        run: |
          git config user.name "neon-bot"
          git config user.email "neon@bot"
          git add neon.m3u
          git commit -m "auto update neon m3u" || echo "No changes"
          git push
